.shopping_cart_table{


    button{
        margin: {
            left: 5px;
            top: 5px;
        }
    }

    &_total{
        text-align: center;
        font-size: 1.3rem;
        margin-right: 10px;
    }
}